@font-face {
    font-family:"MixModernOutline";
    src: url("MixModernOutline.ttf") format("truetype");
}

@font-face {
    font-family:"MixModernSolid";
    src: url("MixModernSolid.ttf") format("truetype");
}

body{
    background-color: beige;
    display: block;
    font-family: 'MixModernSolid';
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    top: 30%;
    margin-left: 26%;
    position: absolute;
    font-family: 'MixModernSolid';
}
img {
    top: 42%;
    margin-left: 30%;
    width: 30%;
}

input {
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'MixModernSolid';
}

input[type=file] {
    top: 43%;
    margin-left: 26%;
    position: absolute;
    color: black;
    display: block;
    font-family: 'MixModernSolid';
    font-size: larger;
}

input[type=submit] {
    top: 43%;
    margin-left: 50%;
    position: absolute;
    color: white;
    background-color: black;
    display: block;
    font-family: 'MixModernSolid';
    font-size: larger;
}

div {
    top: 43%;
    margin-left: 26%;
    position: absolute;
    color: white;
    background-color: black;
    display: block;
    font-family: 'MixModernSolid';
    font-size: larger;
}

span {
    top: 60%;
    margin-left: 35%;
    position: absolute;
}