@font-face {
    font-family:"MixModernOutline";
    src: url("MixModernOutline.ttf") format("truetype");
}

@font-face {
    font-family:"MixModernSolid";
    src: url("MixModernSolid.ttf") format("truetype");
}

body{
    background-color: beige;
    display: block;
    font-family: 'MixModernSolid';
    font-size: xx-large;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-family: 'MixModernSolid';
    font-size: xx-large;
}

img {
    flex: 50%;
    padding: 5px;
    vertical-align: baseline;
    width: 25%;
}
